
body {

    font: 18px/1.4 system-ui;

    background-color: #FDE68E;
}


.component {
    padding: 10%;
    border-bottom: 3px solid rgba(251, 189, 107);
    width: 90%;
    min-height: 100vh;
    display: inline-flex;
    justify-content: center;
}


#Welcome {
    width: 100%;
    position: relative;
    background-image: url('welvomeBackG.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.Welcome-container {
    position: absolute;
    bottom: 15%;
    background: rgba(251, 189, 107, 0.8);
    width: 60%;
    border-radius: 20px;
}


.Welcome-container h2 {
    padding: 10px;

}


.carousel.carousel-slider {
    margin: auto;
}

.carousel .thumbs {
    padding: 0;
    white-space: normal;
}



.carousel-container{
    flex-wrap: wrap;
}

.price-container{
    background-image: url('prices.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.price-box {
    background-color: rgba(251, 189, 107, 0.8);
    padding: 2vh;
    margin: 5%;
    border-radius: 20px;
    padding: 10px;
    width: 40%
}

#contactContainer{
    background-image: url('contact.jpeg');
    background-repeat: no-repeat;

    background-size: cover;
}

.contact{
    margin:20px;
}

.contact-text{
    background-color: rgba(251, 189, 107, 0.8);
    border-radius: 20px;
    padding: 10px;

}

.contact iframe{
    max-width: 100%;
    max-height: 100%;
}
.contact h3{
    margin: 5px;
}



.contact p{
    margin: 0px;
    padding: 4px;
}



#footer {
    background-color: rgba(251, 189, 107, 1);
    min-height: 10%;
    padding: 20px;
}

@media screen and (max-width: 768px) {


    .carousel.carousel-slider {
        width: 100%;
    }

    .price-container {
        flex-wrap: wrap;
    }

    .price-box {
        margin-top: 25%;
        width: 100%;
    }

    #contactContainer{
        flex-wrap: wrap;

    }

}