

.pictureBlock{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 60vh;
    padding: 10px;
    margin: 15px;
    justify-content: center; /* del if fill div*/
    /* border: 1px solid rgba(251, 189, 107, 0.9);*/
}

.pictureBlock .img {

    display: flex;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
    width:inherit;
    height: 60%;
    background: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition-property: transform ;
    transition: .4s ease-in-out ;
}

.textBlock{
    padding: 10px;
    height: auto;
}


.pictureBlock .img:hover{
    -ms-transform: scale(2.1); /* IE 9 */
    -webkit-transform: scale(2.1); /* Safari 3-8 */
    transform: scale(2.1);
    /*border: 1px solid rgba(251, 189, 107, 0.9);
     */
    border-radius: 15px;
}


.img div{
    display: none;
    font-size: 35%;
    max-width: 90%;
    background: rgba(251, 189, 107, 0.8);
    transition-property:display;
    transition-duration: 2.5s;
}

.pictureBlock .img:hover > div{
    display: table;
    padding: 5px;
    border-bottom: 1px solid rgba(251, 189, 107, 0.9);
}


.pictureBlock p{
    display: flex;
    justify-content: center;
}

#pictureContainer{
    flex-wrap: wrap;
}

.search{
    padding-top: 15%;
}

@media screen and (max-width: 1024px) {
    .pictureBlock {
        display: flex;
        flex-wrap: wrap;
        width: 200px;
        height: 60vh;
        padding: 10px;
        margin: 15px;
        justify-content: center; /* del if fill div*/
        /* border: 1px solid rgba(251, 189, 107, 0.9);*/
    }
}