

.pictureBlock{
    display: flex;
    flex-wrap: wrap;
    max-width: 180px;
    height: 25vh;
    padding: 10px;
    margin: 15px;
    justify-content: center; /* del if fill div*/
    border: 1px solid rgba(251, 189, 107, 0.9);
}

.pictureBlock .img {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    width: 90%;
    height: 60%;
    /*background: center; to center but not cover*/
    background-repeat: no-repeat;
    background-size: cover;
    transition-property: transform ;
    transition: .4s ease-in-out ;
}


.pictureBlock .img:hover{
    -ms-transform: scale(2.5); /* IE 9 */
    -webkit-transform: scale(2.5); /* Safari 3-8 */
    transform: scale(2.5);
    border: 1px solid rgba(251, 189, 107, 0.9);
    border-radius: 15px;
}

.pictureBlock .img:hover > div{
    display: table;
    border-bottom: 1px solid rgba(251, 189, 107, 0.9);;
}


.pictureBlock .img:hover {
}

.img div{
    display: none;
    font-size: 35%;
    max-width: 90%;
    background: rgba(251, 189, 107, 0.5);
    transition-property:display;
    transition-duration: 2.5s;
}



.pictureBlock p{
    display: flex;
    justify-content: center;

}

#pictureContainer{
    flex-wrap: wrap;
}

